*.font: SauceCodePro Nerd Font:semibold:pixelsize=19::antialias=true:autohint=true;
*.alpha: 1.0

!dmenu.font: SauceCodePro Nerd Font:semibold:pixelsize=19::antialias=true:autohint=true;JoyPixels:pixelsize=17:antialias=true:autohint=true;

ranger.font: -*-terminus-bold-r-*-*-20-*-*-*-*-*-*-*

